name: Verify PR
on:
  pull_request:
    branches:
      - "**"

jobs:
  build:
    strategy:
      matrix:
        java-version: [ 17, 21 ]
        runs-on: [ ubuntu-latest, macos-latest, windows-latest ]
    name: Jdk ${{ matrix.java-version }}, os ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'adopt'
          cache: maven
      - name: Build with Maven
        run: mvn --batch-mode verify -Pcoverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}